# registry=https://registry.npmjs.org/
# @dotmcdh:registry=https://npm.pkg.github.com/
# //npm.pkg.github.com/:_authToken=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



//registry.npmjs.org/:_authToken=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
